header {
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c737b1;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.avatar {
  position: relative;
  z-index: 1;
}
