/* CSS for the header element */


header {
  background-color: #d1b92e; /* Set a different background color for the header */
  height: 720px; /* Set the height of the visible portion of the header */
  width: 100%; /* Set the width to be 100% of its parent container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

header img {
  width: 400px;
  max-height: 300px;
  border-radius: 50%;
}

header .avatar {
  width: 120px; /* Adjust the width and height of the avatar as needed */
  height: 120px;
  border-radius: 50%; /* Make the avatar circular */
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

header h2 {
  font-size: 24px;
  margin-top: 10px; /* Add some spacing between the avatar and the name */
}
