/* Styles for the tweet article */
main {
  margin: 0;
}

#tweet-container {
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease;
  padding-right: 20px;
  padding-left: 0;
  max-width: 100%;
  background-color: #ffffff;
}

.tweet-container {
  max-width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease;
  padding-right: 30px;
}

article.tweet {
  max-width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease;
}

.tweet:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.counter-container {
  display: flex;
  align-items: center; /* Align the items vertically in the center */
}

/* Move the character counter to the right */
.counter {
  margin-left: auto;
}

/* Styles for mobile (up to 767px) */
@media (max-width: 767px) {
  .new-tweet,
  .tweet {
    width: 100%;
    margin: 0;
  }

  header,
  .new-tweet {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }
  .tweet {
    width: 100%;
  }
  nav {
    background-color: #d1b92e !important;
    height: 120px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    font-family: 'Bungee', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
  }
}


/* ... Other CSS rules ... */

/* desktop */
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    padding-right: 0%;
    margin-top: 120px
  }
  .container header {
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 150px;
  }
  .container div.main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .main-container {
    margin-top: 50px; /* Adjust the value as needed */
  }
  #tweet-container {
    width: 100%; /* Set the width to 100% to fill the available space */
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease;
    padding-right: 20px;
    padding-left: 0;
    max-width: 100%;
    background-color: #ffffff;
  }
  .tweet-container {
    max-width: 100%; /* Set the maximum width to 100% */
    margin: auto; /* Center the tweets horizontally in the container */
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease;
    padding-right: 30px;
    height: 192px; /* Reduce the height by 20% (240px - 20%) */
  }
  article.tweet {
    max-width: 100%; /* Set the maximum width to 100% */
    margin: auto; /* Center the tweets horizontally in the container */
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease;
    height: 192px; /* Reduce the height by 20% (240px - 20%) */
    background-color: transparent;
  }
  article.tweet header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    padding-top: 5px;
  }
  .tweet-text {
    max-height: 160px; /* Increase the max height of tweet content to prevent overflow */
    overflow: hidden;
  }
}
