.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4056A1;
  padding: 0px;
  border-radius: 6px;
}

.new-tweet h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-tweet label {
  font-size: 18px;
  font-weight: bold;
}

.new-tweet textarea {
  width: 100%;
  height: 80px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #000000;
  border-bottom: 1px solid #000000;
  resize: vertical;
  margin-bottom: 15px;
}

.new-tweet button {
  background-color: #1d0982;
  color: #f70505;
  padding: 12px 20px;
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.new-tweet button:hover {
  background-color: #A52A2A;
}

.new-tweet button:focus {
  outline: none;
}

.new-tweet .counter {
  font-size: 24px;
  text-align: right;
}

.new-tweet .counter.red {
  color: red;
}

#tweet-form {
  border: 1px solid #ccc; /* Add a 1px solid border with a color of your choice */
  padding: 10px; /* Add some padding to create space between the form elements and the border */
  background-color: aliceblue;
  width: 90%;
}

#tweet-text {
  max-width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}
